header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(74602858_2160875724206466_3175313594455687168_o.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(253, 176, 11);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #f7f2f2;
    color: rgb(8, 0, 0);
}
ul li.active a{
    background-color: #fcfafa;
    color: rgb(5, 0, 0);

}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}  
.title h1{
    color: rgb(253, 250, 250);
    font-size: 70px;
} 
.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 12PX 30PX;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #f7f2f2;
    color: rgb(8, 0, 0);
}
